body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}



/* Intro */
.intro__Who_I {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100vh;
    position: relative;

    background: url("../images/adidas-hollandse-nieuwe-interieur-10.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    margin-bottom: 20vh;
    text-align: center;
}

.intro__title_one {
    color: #fff;
    font-size: 75px;
    font-weight: 300;
    line-height: 1;
}

.intro__title_two {
    color: #fff;
    font-size: 26px;
    font-weight: 100;
    line-height: 1;
}

.intro__button {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    margin-bottom: 25px;

    text-align: center;
}

/* Button */
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 74px 42px;


    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

/* Button Reebok */
.btn_reebok {
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    transition: .3s;
}
.btn_reebok:hover {
    background: #FF4747;
    box-shadow: 0 15px 20px rgba(255,71,71,.4);
    color: white;
    transform: translateY(-7px);
}

/* Button Adidas */
.btn_adidas {
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #4f5665;
    background: white;
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    transition: .3s;
}

.btn_adidas:hover {
    background: #4f5665;
    box-shadow: 0 15px 20px rgba(255,255,255,.4);
    color: white;
    transform: translateY(-7px);
}


/* Section */
.section {
    padding: 80px 0;  
}

.section_color {
    padding: 80px 0; 
    background-color: #FF4747;
}

#block-adidas {
    background-color: #4f5665;
}

.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 150px;
    text-align: center;
}

.section__anim {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 25px;
    text-align: center;
}

.section__title {
    font-size: 30px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
}

.section__text {
    font-size: 17px;
    color: #FFFFFF;
}

/* Animation Button*/
.anim {
    display: inline-block;
    vertical-align: top
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    transition: .3s;
}

.anim:hover {
    transform: translateY(-7px);
}

                 
/* Reviews */
.reviews__item_right {
    min-height: 210px;
    padding-right: 500px;
    position: relative;
}

.reviews__item_left {
    min-height: 210px;
    padding-left: 500px;
    position: relative;
}

.reviews__photo_right {
    display: block;
    width: 400px;
    height: 400px;

    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.reviews__photo_left {
    display: block;
    width: 400px;
    height: 400px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.reviews__text_left {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 30px;
    text-align: left;
    
    position: relative;
    top: 100px;
}

.reviews__text_right {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 30px;
    text-align: right;
    color: #FFFFFF;
    position: relative;
    top: 100px;
}

/* Button Adidas for right block*/
.reviews__text_right .btn_adidas:hover {
    background: #4f5665;
    box-shadow: 0 15px 20px rgba(0,0,0,.4);
    color: white;
    transform: translateY(-7px);
}

.reviews__text_bold_right {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    text-align: right;
    color: #FFFFFF;
    position: relative;
    top: 75px;
}

.reviews__text_bold_left {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    text-align: left;
    
    position: relative;
    top: 75px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

footer a {
    all: initial;
}

footer a:hover {
    all: initial;
}

dialog {
    position: fixed;
    width: 600px;
    height: 380px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}

.dialog-header {
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}

.btn-group-dialog {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promokode {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    background: #FF4747;
    padding: 25px;
    color: #FFFFFF;
}

.promokode-description {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

.btn_project {
    width: 150px;
    height: 45px;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid #FF4747;
    box-sizing: border-box;
    border-radius: 50px;
    font-weight: bold;
    font-size: 16px;
    color: #FF4747;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_project:hover {
    background-color: #FF4747;
    color: #FFFFFF;
    transition: color .1s ease-in-out;
}

.adidas-dialog .promokode {
    background: #4f5665;   
}

.adidas-dialog .btn_project {
    border: 2px solid #4f5665;
    color: #4f5665;
}

.adidas-dialog .btn_project:hover {
    background-color: #4f5665;
    color: #FFFFFF;
    transition: color .1s ease-in-out;
}


/* Copyright */    
@media (max-width: 1150px) {

    /* Intro */
   
    
@media (max-width: 990px) {

    /* Intro */
    
    
@media (max-width: 770px) {

    /* Intro */
   
    
@media (max-width: 575px) {

    /* Intro */
   

