body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #333;
    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.title_cover {
    position: absolute;
    top: 50vh;
    left: 50vw;
    width: 80vw;
    text-align: center;
    transform: translate(-50%, -50%);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: #FFFFFF; 
}

.block-1 {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_about {
    width: 30vw;
    margin-left: 100px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    text-align: left;
    color: #4F5665;
}

#catch {
    all: initial;
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
}

.block-about-color {
    width: 100%;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2888FF;
    color: #FFFFFF;
}

.block-about-with-photo {
    width: 100%;
    margin-top: 50px;
    display: flex;
    align-items: center; 
    justify-content: center;
    color: #FFFFFF;
}

.text_block {
    width: 80vw;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.text_block_with_photo {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 80px;
    margin-right: 80px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
}

.block-intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100vh;
    position: relative;

    background: url("../images/adidas_shop.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__button {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    margin-bottom: 25px;
    text-align: center;
}

/* Button Reebok */
.btn_reebok {
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    transition: .3s;
}

.btn_reebok:hover {
    background: #FF4747;
    box-shadow: 0 15px 20px rgba(255,71,71,.4);
    color: white;
    transform: translateY(-7px);
}

/* Button Adidas */
.btn_adidas {
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #4f5665;
    background: white;
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    transition: .3s;
}

.btn_adidas:hover {
    background: #4f5665;
    box-shadow: 0 15px 20px rgba(255,255,255,.4);
    color: white;
    transform: translateY(-7px);
}

#block-adidas {
    background-color: #4f5665;
}

.section__anim {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 25px;
    text-align: center;
}

/* Animation Button*/
.anim {
    display: inline-block;
    vertical-align: top
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    transition: .3s;
}

.anim:hover {
    transform: translateY(-7px);
}

.reviews__text_right {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 30px;
    text-align: right;
    color: #FFFFFF;
    position: relative;
    top: 100px;
}

/* Button Adidas for right block*/
.reviews__text_right .btn_adidas:hover {
    background: #4f5665;
    box-shadow: 0 15px 20px rgba(0,0,0,.4);
    color: white;
    transform: translateY(-7px);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

footer a {
    all: initial;
}

footer a:hover {
    all: initial;
}

dialog {
    position: fixed;
    width: 600px;
    height: 380px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}

.dialog-header {
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}

.btn-group-dialog {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promokode {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    background: #FF4747;
    padding: 25px;
    color: #FFFFFF;
}

.promokode-description {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

.btn_project {
    width: 150px;
    height: 45px;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid #FF4747;
    box-sizing: border-box;
    border-radius: 50px;
    font-weight: bold;
    font-size: 16px;
    color: #FF4747;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_project:hover {
    background-color: #FF4747;
    color: #FFFFFF;
    transition: color .1s ease-in-out;
}

.adidas-dialog .promokode {
    background: #4f5665;   
}

.adidas-dialog .btn_project {
    border: 2px solid #4f5665;
    color: #4f5665;
}

.adidas-dialog .btn_project:hover {
    background-color: #4f5665;
    color: #FFFFFF;
    transition: color .1s ease-in-out;
}